body{
    margin: 0;
    background-color: black;
}

.logo{
    background-color: rgb(243, 185, 38);
    border-radius: 20px;
    padding: 20px;
    font-size: 90px;
    text-shadow: -2px 2px 2px rgb(124, 93, 45);
    box-shadow: -4px 8px 2px 6px rgb(124, 93, 45);
    font-weight: bolder;
    color: black;
    transition: 1s;
}

.logo:hover{
    transform: translate( -10px, 10px);
    background-color: green;
    text-shadow: -2px 2px 2px rgb(0, 63, 0);
    box-shadow: none;
    content: "Loading...";
}

.main{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
    justify-content:center;
    align-items: center;
    box-sizing:border-box;
}

.ls{
    list-style-type: none;
}